* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-image: url(../images/banner/banner3.png);
    width: 1400px;
    height: 808px;
}

.banner {
    text-align: right;
    padding-right: 230px;
}

.banner-title {
    padding-top: 200px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-description {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;

}

.btn-white {
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
font-size: 20px;
color: #005FAC;
border: 0;
}